@use '../util' as u;

.projects {

    &__wrapper {
        padding-block: u.rem(80);

        .conteiner {

            &__headline {
                text-align: center;
                font-size: var(--f-l);
                padding-bottom: u.rem(40);
            }
            
            &__grid {
                display: grid;
                grid-template-columns: 1fr;
                gap: 40px;

                @media (min-width: 37.5em) {
                    grid-template-columns: repeat(2, 1fr);
                    gap: u.rem(60) u.rem(24);
                }

                @media (min-width: 62.5em) {
                    grid-template-columns: repeat(2, 1fr);
                }

                .proj {
                    
            
                    &__item {
                        grid-column: 1 / 2;

                        @media (min-width: 37.5em) {
                            grid-column: span 1;
                        }

                        @media (min-width: 62.5em) {
                            grid-column: span 1;
                        }

                        .item {
                            &__image {
                                display: block;
                                margin-block-end: u.rem(20);

                                @media (min-width: 62.5em) {
                                    width: u.rem(545);
                                    height: u.rem(400);
                                }
                            }

                            @media (min-width: 62.5em) {
                                &__gif {
                                    width: u.rem(545);
                                    height: u.rem(400);
                                }
                            }
                            

                            &__name {
                                font-size: var(--f-m);
                                line-height: 1.3;
                                font-weight: 700;
                                text-transform: uppercase;
                                margin-block-end: u.rem(7);
                            }
            
                            &__tags {
                                font-size: var(--f-body);
                                font-weight: 500;
                                color: var(--c-gray);
                                margin-block-end: u.rem(20);

                                span {
                                    margin-inline-end: u.rem(18);
                                }
                            }
                    
                            &__links a {
                                display: inline-block;
                                font-size: var(--f-btn);
                                font-weight: 700;
                                color: var(--c-white);
                                letter-spacing: u.rem(2);
                                text-transform: uppercase;
                                border-bottom: 2px solid var(--c-yellow);
                                margin-inline-end: u.rem(30);
                            }
                        }
                    }
                }
            }
        }
    }
}

    